.profile-image {
  display: flex;
  margin-left: 3%;
  margin-top: 100px;
  width: 200px; 
  height: 200px; 
  border-radius: 50%; 
  border-width: 10px;
  margin-bottom: 20px; 
}

.rey{
  display: flex;
  margin-left: 38%;
  color: rgb(68, 18, 117);
}
p{
  display: flex;
  padding: 10px;
}