


.btn{
  display: flex;
  justify-content: center;
  margin-left: 45%;
  background-color:orangered;
  text-decoration-line: none;
}


.text33{
  display: flex;
  justify-content: center;
  margin-top: 150px;

}