.footer {
  background-color: #193589;
  border-top: 1px solid white;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.icon {
  width: 24px;
  height: 24px;
  margin: 0 5px;
}